body {
    color: white;
    padding: 0 16px;
  }
  li:before {
    content: '• ';
    width: 3em;
  }
  .hidden {
    display: none;
  }
  #psdDropdown {
    width: 400px;
}
  #layers {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 16px;
  }